.counter{
    display: flex;
    justify-content: flex-end;
    margin-top: -40px;
}
.inc-btn{
    
    margin: 0 10px;
    padding: 0 10px;
   background-color: rgb(24, 161, 215);
   color: #fff;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;

}
